{% extends "layout.html" %}

{% block main %}
<div class="container">
  <div class="wrapper">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="info">
          <h1>Find current or past weather data with the click of a button!</h1>
          <div class="border-top border-dark p-1"></div>
          <p class="text-muted" id="description"></p>
          <div class="button">
            <a class="btn btn-dark btn-lg" href="{{ url_for('main.Search') }}">Go to Search page</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img class="image" src="{{ url_for('static', filename='craig-whitehead-SuJp8ZpkubI-unsplash.jpg') }}"
          alt="Urban street view by Craig Whitehead on Unsplash">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 footers">
      <a class="btn btn-outline-secondary" href="https://github.com/Hudson111-s/WeatherLook">
        <i class="bi bi-github"></i> See on GitHub
      </a>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
  {% if description %}
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const description = JSON.parse('{{ description | tojson }}');
        const outputElement = document.getElementById("description");
        let index = 0;

        function typeText() {
          if (index < description.length) {
            outputElement.textContent += description[index];
            index++;
            setTimeout(typeText, 40);
          } else {
            outputElement.classList.add("done")
          }
        }

        outputElement.textContent = "";
        typeText();
      });
    </script>
  {% endif %}
{% endblock %}
